@font-face {
  font-family: 'Zen-Dots';
  src: url(../fonts/Zen_Dots/ZenDots-Regular.ttf) format('woff2');
}

.logo-container {
  width: 100%;
  text-align: right;
  padding-top: 30px !important;
}

img.logo {
  width: 180px;
  height: 35px;
}

div.wrapper {
  min-height: 65vh;
}

div.inner-wrapper {
  min-height: 55vh;
}

img.logo-icon {
  width: 35px;
  height: 35px;
}

.no-bullet {
  list-style-type: none;
}

.branding-shield {
  width: 35px;
  height: 35px;
  background-image: url("../img/shield.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  background: #293445;
  color: var(--bs-white);
}

td.contact-table {
  padding-left: 15px;
  padding-bottom: 5px;
}

header {
  font-family: Zen-Dots;
  color: #fff;
  border-bottom: 3px solid var(--bs-gray-700);
  background-image: url("../img/background.jpg");
  background-size: 100% 100%;
  background-repeat: repeat-y;
}

header ul {
  list-style: none;
  padding: 0;
  font-size: 120%;
}

header ul em {
  display: block;
  font-size: 50%;
}

header ul li {
  border: 1px solid var(--bs-white);
  border-bottom: 0;
}

td a {
color: rgb(100,100,255);
}

.content-link {
  color: rgb(100,100,255);
}

.section-end {
  width: 100%;
  text-align: center;
  padding-bottom: 8px;
}

a {
  text-decoration: none;
  color: var(--bs-white);
  font-weight: normal;
  font-size: smaller;
}

a:hover {
  text-decoration: underline;
  color: var(--bs-white);
}

.branding-overlay {
  background-color: rgba(4, 1, 48, 0.0);
}

header>.branding {
  height: 12vh;
  display: flex;
  padding-left: 0vw;
  background-color: rgb(0, 0, 0, 0.5);
}

header h1>small {
  display: block;
  font-size: 60%;
}

.menu_row {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background: var(--bs-gray-700);
}

.content h2,
.content h3 {
  font-family: Zen-Dots;
}

.content h2 {
  font-size: 100%;
  color: var(--bs-gray-600);
}

.content h3 {
  font-size: 250%;
}

.main_img {
  float: right;
  padding-right: 5px;
}

.main_content {
  padding-top: 5px;
  padding-left: 20px;
  font-size: small;
}

.btn {
  border-radius: 0;
}

footer {
  border-top: 3px solid var(--bs-gray-700);
  background: rgb(41, 52, 69);
  font-size: x-small;
}

footer h6 {
  font-family: Zen-Dots;
}

footer ul {
  list-style: none;
}

h6.footer {
  color: #ccc;
  font-size: small;
}

p.footer {
  color: #aaa;
}

address.footer {
  color: #aaa;
  padding-left: 10pxa
}

.footer_contents {
  padding-top: 15px !important;
}

footer {
  background-image: url("../img/background.jpg");
  background-size: 100% 300%;
  background-repeat: no-repeat;
  background-position: bottom;
}