 html,
 body {
   height: 100%;
 }

 img {
   max-width: 100%;
 }

 #logo {
   padding-left: 0px !important;
   padding-right: 0px !important;
 }

 #main {
   overflow: auto;
   padding-bottom: 0px;
   height: 68vh;
   margin-top: 0px;
 }

 .contact {
   text-align: center;
 }

 .footer {
   color: grey;
   font-size: 0.6em;
   border-top: solid lightgrey 1px;
   padding-top: 10px;
 }

 .strapline {
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-top: 7px;
 }

 .copyright {
   background: lightgrey;
   color: grey;
 }

 .legal {
   color: grey;
   list-style: none;
   text-align: left;
 }

 .container {
   max-width: 100vw;
 }

 .masthead {
   background-size: cover;
   background-color: #26255e;
   min-height: 4vh;
   min-width: 100vw;
   position: relative;
   color: white;
 }

 p {
   text-align: left;
 }

 .about {
   text-align: left;
 }

 h4 {
   color: rgba(44, 89, 168, 1);
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-transform: uppercase;
   font-size: 12pt;
   text-align: center;
   padding-top: 10px;
 }

 .email-link {
   color: rgba(44, 89, 168, 1);
   text-align: center;
 }

 .colour-overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .25);
   text-shadow: 2px 2px 4px rgba(44, 89, 168, 0.5);
   /* background-color: rgba(0,0,0,.2); */
 }

 @media (max-width: 768px) {
   h4 {
     font-size: calc(0.525rem + 1vw);
   }

   .strapline {
     font-size: calc(0.225rem + 1.2vw);
   }

   .masthead {
     height: calc(0.225rem + 0.5vw);
     min-height: 2vh;
   }

   .strapline {
     padding-top: 1px;
   }

   #main_logo {
     width: calc(70vw);
   }

   .hide-if-small {
     display: none;
   }
 }