@font-face {
  font-family: 'Zen-Dots';
  src: url(../fonts/Zen_Dots/ZenDots-Regular.ttf) format('woff2');
}

body {
  background: #293445;
  color: var(--bs-white);
}

header {
  font-family: Zen-Dots;
  background: #3e1597;
  color: #fff;
}

header ul {
  list-style: none;
  padding: 0;
  font-size: 120%;
}

header ul em {
  display: block;
  font-size: 50%;
}

header ul li {
  border: 1px solid var(--bs-white);
  border-bottom: 0;
}

header a,
footer a {
  text-decoration: none;
  color: var(--bs-white);
}

header a:hover {
  text-decoration: underline;
  color: var(--bs-white);
}

header>.branding {
  height: 25vh;
  display: flex;
  place-items: center;
  background-image: url("../img/banner_logo_1200x334.png");
  background-size: cover;
  background-position: center;
  padding-left: 5vw;
}

header h1>small {
  display: block;
  font-size: 60%;
}

.content h2,
.content h3 {
  font-family: Zen-Dots;
}

.content h2 {
  font-size: 100%;
  color: var(--bs-gray-600);
}

.content h3 {
  font-size: 250%;
}

.btn {
  border-radius: 0;
}

footer {
  border-top: 3px solid var(--bs-gray-700);
}

footer h6 {
  font-family: Zen-Dots;
}

footer ul {
  list-style: none;
}